page-view-ticket {
    ion-content{
        text-align: center;
      }
    
      .eventdate{
        color: #2e2e2e;
      }
    
      .eventTitle{
        color: #003d9e;
        text-transform: uppercase;
      }
    
      .quant{
        color: #2e2e2e;
        font-size: 1.5em;
      }
}
