<!--
  Generated template for the NewsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="news == '1'">
      <ion-card>
        <img src="../../assets/imgs/news-1.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Ghanaian giants Hearts of Oak have signed an agreement with real estate company, K.A Estate Limited, for the commencement of the Pobiman Academy Project.
            </ion-card-title>
          <p>
            K.A Estate Limited, the leading estate company in country signed the deal with the premiere Ghanaian club on Friday as part of the process of starting the Pobiman project.

The local firm will start the grounds work in partnership with Turkish firm Prefabex.

"Accra Hearts of Oak have signed an agreement with local contractors K. A. Estate Limited for the commencement of the Pobiman Academy Project. The local firm will start the grounds work (substructure only) and will work in partnership with the Turkish contractors," Hearts posted on their official Twitter page.

Work on the Pobiman Project is expected to start next month as the Phobians kick start a new era with the building of the multi-complex academy.

The Pobiman project involves the construction of an academy will come with modern facilities such as staff residence, gym, training pitches, laundry, swimming pool, Kitchen and dining hall, among other facilities.
          </p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="news == '2'">
      <ion-card>
        <img src="../../assets/imgs/news-2.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Chief Executive Officer of Ashantigold, Emmanuel Frimpong has stated that his primary objective is to revive the club's academy
          </ion-card-title>
          <p>
            The youngest football administrator in Ghana revealed his ambitions for the club, but indicated reviving the famed academy sits top of his priority.

Ashantigold are known for producing fine talents for the country. The Miners unearthed top stars like Opoku Agyemang, Mubarak Wakaso, Jonathan Mensah and many more.

However, in recent times the club has struggled to supply the national teams with top talents.

"I'm trying to get the Academy back, Ashantigold is known for its academy. The Ashgold people knew was all about the Academy and It's no more there so I am trying to bring the Academy back," he told Beyond the Pitch.

"With the support of my Sporting Director Roy Arthur, the management team, my father Dr. Kweku Frimpong we are going to make Ashgold a big club in Africa," he added.

The Miners last won the Ghana Premier League in 2015, and were Ghana's representative in the CAF Confederation Cup last season.

Before the 2019/20 season was halted due to COVID-19, the 'Aboa Kese' lads were 5th on the table.
          </p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="news == '3'">
      <ion-card>
        <img src="../../assets/imgs/news-3.jpg"/>
        <ion-card-content>
          <ion-card-title>
            The Eastern Regional Football Association (ERFA) has secured a mouthwatering partnership with GotSoccer software to serve as its official league management service provider.
            </ion-card-title>
          <p>
            GotSoccer, a software platform, will provide the ERFA with competitions management, game scheduling, referees management, fixtures, standings and competitions database system for all competitions under the auspices of the Eastern Regional Football Association (ERFA).

“We are delighted to team up with GotSoccer as our official software provider,” Regional Association Chairman Linford Asamoah said in an interview with the GFA Communications Team.

“In the past, paper-based game schedules would be sent to Clubs and referee assigners who would then assign officials to work on the games. When there were game changes or cancellations, the ripple effect would wreak havoc on the entire process causing frustrations, delays and missed games.

“With GotSoccer, we will eliminate lost time and unnecessary cost related to manual process and manpower, bringing transparency to our competitions,“ the ERFA boss added.

GotSoccer is a US-based soccer software company, a leader in the soccer industry with rich expertise in soccer software. They have been developing tools to help get players on the field since 1996 and continue to look for new and innovative ways to help make things simple and easy for the soccer community.
          </p>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
