<ion-content>

  <form [formGroup]="formGroup" (submit)="submitSignUp()">
    <ion-card>
      <ion-card-header>
        <h1 style="color: #f53d3d">REGISTER</h1>
        <p style="color: red; text-align: center">{{userPostData.text}}</p>
        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label color="danger" floating>Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username" >
              <div class="error-message" *ngIf="formGroup.get('username').hasError(validation.type) && (formGroup.get('username').dirty || formGroup.get('username').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label color="danger" floating>Full name</ion-label>
            <ion-input type="text" formControlName="fullname"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.fullname" >
              <div class="error-message" *ngIf="formGroup.get('fullname').hasError(validation.type) && (formGroup.get('fullname').dirty || formGroup.get('fullname').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label color="danger" floating>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email" >
              <div class="error-message" *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label color="danger" floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password" >
              <div class="error-message" *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label color="danger" floating>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirm_password" >
              <div class="error-message" *ngIf="formGroup.get('confirm_password').hasError(validation.type) && (formGroup.get('confirm_password').dirty || formGroup.get('confirm_password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label color="danger" floating>Phone Number</ion-label>
            <ion-input type="number" formControlName="phone" minlength="9" aria-valuemin="0"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phone" >
              <div class="error-message" *ngIf="formGroup.get('phone').hasError(validation.type) && (formGroup.get('phone').dirty || formGroup.get('phone').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

        </ion-list>
      </ion-card-content>
      <br>
    </ion-card>


    <button ion-button icon-right class="loginBtn" color="danger" >Get Started &nbsp; &nbsp; <ion-icon name="arrow-round-forward"></ion-icon></button>


  </form>

  <br>
  <p style="color: #f53d3d">Already registered? <a href="#" style="color: #2c2c2c" (click)="goToLogin()"> Sign In</a></p>
</ion-content>
